@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Dongle", sans-serif;
}
.container {
  /* overflow: scroll; */
}
.container h1 {
  text-align: center;
}
.search-outer {
  text-align: center;
  /* border: 1px solid red; */
}
.search-box {
  text-align: center;
  margin: auto;
  text-align: center;
  width: 60%;
  position: relative;
}
.search-text {
  width: 100%;
  padding: 2px;
  height: 40px;

  outline: none;
  transition: all 0.3s linear;
}
.search-text:focus {
  border-color: blue;
}

.fa-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.github-users {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  /* background-color: rgb(236, 222, 222); */
  padding: 5px;
  display: grid;
  place-items: center;
  /* place-content: center; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 5px;
  /* background-color: rgb(241, 243, 244); */
}
.github-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  /* height: 200px;
  width: 300px; */
}
.github-user img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.no-user {
  display: block;
  /* margin: auto; */
  text-align: center;
  font-size: 25px;
}
.userName {
  font-size: 25px;
}
.repos-btn {
  text-decoration: none;
  color: black;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 3px 7px;
  transition: all 0.3s linear;
}
.back-btn {
  margin: 20px;
}
.readme-btn {
  position: absolute;
  bottom: 2px;
  cursor: pointer;
  left: 3px;
}
.repos-btn:hover {
  background-color: green;
}
.repos-container h1 {
  text-align: center;
}
.repos-inner {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.repo {
  border: 1px solid rgb(208, 215, 222);
  border-radius: 5px;
  padding: 3px;
  width: 300px;
  min-height: 130px;
  position: relative;
  max-height: 200px;
}
.repos-container {
  padding: 5px;
  position: relative;
}

.repo-title {
  font-size: 22px;

  font-weight: bold;
  color: rgb(9, 105, 225);
}
.repo-description {
  font-size: 20px;
  line-height: 14px;
}
.repo-basic-info {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: space-between;
}

.loading {
  text-align: center;
  font-size: 30px;
  margin: auto;
}
#pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  background-color: rgba(22, 3, 3, 0.7);
  /* opacity: 0.3; */
}
.readme-content {
  /* margin: auto; */
  width: 60%;
  height: 80%;
  overflow: auto;
  background-color: white;
  /* opacity: 1 !important; */
  position: relative;
}
.read-me-text {
  font-size: 20px;
  padding: 20px;
}
.fa-times {
  position: absolute;
  right: 5px;
  color: red;
  font-size: 25px;
  top: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.fa-times:hover {
  transform: scale(1.3);
}
/* media queries */

@media only screen and (max-width: 1000px) {
  .github-users {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 700px) {
  .github-users,
  .repos-inner {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .readme-content {
    width: 90%;
    height: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .github-users,
  .repos-inner {
    grid-template-columns: 1fr;
  }
}
